{% extends "SiteApp/base.html" %} 
 
{% block content %} 
 
<div class="container py-5"> 
    <h1 class="text-2xl mb-8 font-bold text-center">Register Users</h1> 
    <form class="w-full max-w-md mx-auto bg-gray-700 shadow-md rounded px-8 pt-6 pb-8" method="post"> 
        {% csrf_token %} 
        <div class="mb-4"> 
            <label class="block text-white text-sm font-bold mb-2" for="username">Username</label> 
            <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{form.username}}</p>
        </div> 
        <div class="mb-4"> 
            <label class="block text-white text-sm font-bold mb-2" for="email">Email</label> 
            <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{form.email}}</p>
        </div> 
        <div class="mb-4"> 
            <label class="block text-white text-sm font-bold mb-2" for="password1">Password</label> 
            <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{form.password1}}</p>
        </div> 
        <div class="mb-4"> 
            <label class="block text-white text-sm font-bold mb-2" for="password2">Confirm Password</label> 
            <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{form.password2}}</p>
        </div> 
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> 
            Register 
        </button> 
    </form> 
</div> 
 
{% endblock content %}

